In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [4]:
data=pd.read_csv("C://Users//Chetan 696//Downloads//House Price Prediction Dataset.csv")
data.isnull().sum()

Unnamed: 0       0
id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [7]:
data.drop(['sqft_above'], axis='columns',inplace=True)
conv_dates=[1 if values==2014 else 0 for values in data.date]
data['date']=conv_dates

In [8]:
data.shape

(21613, 21)

In [9]:
data.head()

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,condition,grade,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,7129300520,0,221900.0,3,1.00,1180,5650,1.0,0,...,3,7,0,1955,0,98178,47.5112,-122.257,1340,5650
1,1,6414100192,0,538000.0,3,2.25,2570,7242,2.0,0,...,3,7,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,5631500400,0,180000.0,2,1.00,770,10000,1.0,0,...,3,6,0,1933,0,98028,47.7379,-122.233,2720,8062
3,3,2487200875,0,604000.0,4,3.00,1960,5000,1.0,0,...,5,7,910,1965,0,98136,47.5208,-122.393,1360,5000
4,4,1954400510,0,510000.0,3,2.00,1680,8080,1.0,0,...,3,8,0,1987,0,98074,47.6168,-122.045,1800,7503

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     21613 non-null  int64
 1   id             21613 non-null  int64
 2   date           21613 non-null  int64
 3   price          21613 non-null  float64
 4   bedrooms       21613 non-null  int64
 5   bathrooms      21613 non-null  float64
 6   sqft_living    21613 non-null  int64
 7   sqft_lot       21613 non-null  int64
 8   floors         21613 non-null  float64
 9   waterfront     21613 non-null  int64
 10  view           21613 non-null  int64
 11  condition      21613 non-null  int64
 12  grade          21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(16)
memory usage: 3.5 MB

In [11]:
data=data.drop(["id","date","zipcode","lat",'long'],axis=1)
print(data.head())
print(data.shape)

   Unnamed: 0     price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  \
0           0  221900.0         3       1.00         1180      5650     1.0
1           1  538000.0         3       2.25         2570      7242     2.0
2           2  180000.0         2       1.00          770     10000     1.0
3           3  604000.0         4       3.00         1960      5000     1.0
4           4  510000.0         3       2.00         1680      8080     1.0

   waterfront  view  condition  grade  sqft_basement  yr_built  yr_renovated  \
0           0     0          3      7              0      1955             0
1           0     0          3      7            400      1951          1991
2           0     0          3      6              0      1933             0
3           0     0          5      7            910      1965             0
4           0     0          3      8              0      1987             0

   sqft_living15  sqft_lot15
0           1340        5650
1           1690        7639
2           2720        8062
3           1360        5000
4           1800        7503
(21613, 16)

In [12]:
y=data[['price']].values
x=data.drop(['price'],axis=1).values
print(x.shape)
print(y.shape)

(21613, 15)
(21613, 1)

In [13]:
X_train, X_test ,y_train, y_test=train_test_split(x,y,test_size=0.3)
print(X_train.shape)
print(y_train.shape)

(15129, 15)
(15129, 1)

In [14]:
model=LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [15]:
y_predict=model.predict(X_test)
print(y_predict) 
print(y_predict.size)

[[484927.39303194]
 [242961.26650711]
 [326555.86707358]
 ...
 [602821.66045912]
 [304960.79412165]
 [509474.15851523]]
6484

In [16]:
print(y_test)
print(y_test.size)

[[265000.]
 [247500.]
 [400000.]
 ...
 [456000.]
 [256000.]
 [450000.]]
6484

In [17]:
print('Coefficient of determination: %.3f' % r2_score(y_test,y_predict))

Coefficient of determination: 0.666